# .gitignore
.env

# ░░▄█▀▀▀░░░░░░░░▀▀▀█▄
# ▄███▄▄░░▀▄██▄▀░░▄▄███▄
# ▀██▄▄▄▄████████▄▄▄▄██▀
# ░░▄▄▄▄██████████▄▄▄▄
# ░▐▐▀▐▀░▀██████▀░▀▌▀▌▌

# ----- Repo Specific -----
picoclaw
picoclaw.pid
workspace/
workspace/agent-sessions/*
!workspace/agent-sessions/.gitkeep
!workspace/**/.gitkeep

#runtime data (logs, workspace, pid, etc)
logs/picoclaw.log
logs/*.tar.gz
# any backup archives
*.tar.gz
#computer specific
.DS_Store
__pycache__/
Thumbs.db